<a href="https://colab.research.google.com/github/Jayplect/deep-learning-AlphabetSoup/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  In order to optimize the model's performance, I altered the model hyperparameters. These changes included:
- Including the Name features
- Binning the Affiliation and Name features
- Increasing the cut-off values for the classification and application feature bins
- Including a third hidden layer
- Increasing the Nodes for each hidden layer
- Increasing the epoch

---

### Preprocessing

In [1]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Check for missing data across features
application_df.isna().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [3]:
# Drop the non-beneficial ID column, 'EIN'.
application_df = application_df.drop(['EIN'], axis= 1)

# Display data head
application_df.head(5)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_unique = application_df.APPLICATION_TYPE.value_counts()
application_type_unique

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 1000
application_types_to_replace = list(application_type_unique[application_type_unique < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_unique = application_df.CLASSIFICATION.value_counts()
classification_unique

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 2000
classifications_to_replace = list(classification_unique[classification_unique < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [9]:
# Look at AFFILIATION value counts for binning
affiliation_unique = application_df.AFFILIATION.value_counts()
affiliation_unique

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of affiliations to be replaced
cutoff_value = 100
affiliation_to_replace = list(affiliation_unique[affiliation_unique < cutoff_value].index)

# Replace in dataframe
for aff in affiliation_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")
    
# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [11]:
# Look at NAME value counts for binning
name_unique = application_df.NAME.value_counts()
name_unique

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [12]:
# Look at NAME value counts >20
name_unique[name_unique> 20]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
ARIZONA FEDERATION OF GARDEN CLUBS                   21
ALPHA PHI SIGMA INC                                  21
AMERICAN CHRISTIAN FICTION WRITERS INC               21
FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA      21
OREGON 4-H FOUNDATION                                21
Name: NAME, Length: 118, dtype: int64

In [13]:
# Choose a cutoff value and create a list of names to be replaced
cutoff_value = 20
name_to_replace = list(name_unique[name_unique < cutoff_value].index)

# Replace in dataframe
for name in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                             22409
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
                                                  ...
AMERICAN IRIS SOCIETY                                21
ARIZONA FEDERATION OF GARDEN CLUBS                   21
GENERAL FEDERATION OF WOMENS CLUBS ARIZONA INC       20
DISABLED AMERICAN VETERANS AUXILIARY INC             20
TEXAS MASTER GARDENER ASSOCIATION INC                20
Name: NAME, Length: 122, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-15-05a9737e1744>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_dummies.drop(['IS_SUCCESSFUL'],1).values

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Add a Third hidden Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               15800

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 20)                820

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 20,681
Trainable params: 20,681
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every five epochs.

In [19]:
# Include the epoch in the file name
checkpoint_path = "./training_1/cp-{epoch:04d}.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)

# Calculate the batch size to save per epoch
batch_size = 32
n_batches = len(X_train_scaled)/batch_size
save_period = 5

# Create a callback that saves the model's weights every 10 epochs
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    steps_per_epoch= 5,
    verbose=1, 
    save_weights_only=True,
    save_freq= int(save_period*n_batches))

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,
                   epochs=80,
                   callbacks = [cp_callback]) #pass callback to the training

Epoch 1/80
804/804 [==============================] - 3s 2ms/step - loss: 0.4827 - accuracy: 0.7633
Epoch 2/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4617 - accuracy: 0.7737
Epoch 3/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4584 - accuracy: 0.7757
Epoch 4/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4563 - accuracy: 0.7774
Epoch 5/80
795/804 [============================>.] - ETA: 0s - loss: 0.4541 - accuracy: 0.7792
Epoch 5: saving model to ./training_1/cp-0005.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4547 - accuracy: 0.7788
Epoch 6/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4537 - accuracy: 0.7780
Epoch 7/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4524 - accuracy: 0.7806
Epoch 8/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4520 - accuracy: 0.7797
Epoch 9/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4518 - accuracy: 0.7801
Epoch 10/80
800/804 [============================>.] - ETA: 0s - loss: 0.4514 - accuracy: 0.7804
Epoch 10: saving model to ./training_1/cp-0010.ckpt
804/804 [==============================] - 2s 3ms/step - loss: 0.4512 - accuracy: 0.7804
Epoch 11/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4504 - accuracy: 0.7819
Epoch 12/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4504 - accuracy: 0.7819
Epoch 13/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4492 - accuracy: 0.7823
Epoch 14/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4491 - accuracy: 0.7816
Epoch 15/80
798/804 [============================>.] - ETA: 0s - loss: 0.4480 - accuracy: 0.7833
Epoch 15: saving model to ./training_1/cp-0015.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4480 - accuracy: 0.7832
Epoch 16/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4476 - accuracy: 0.7819
Epoch 17/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4467 - accuracy: 0.7832
Epoch 18/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4465 - accuracy: 0.7830
Epoch 19/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4458 - accuracy: 0.7842
Epoch 20/80
788/804 [============================>.] - ETA: 0s - loss: 0.4454 - accuracy: 0.7842
Epoch 20: saving model to ./training_1/cp-0020.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4461 - accuracy: 0.7836
Epoch 21/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4449 - accuracy: 0.7839
Epoch 22/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4446 - accuracy: 0.7844
Epoch 23/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4447 - accuracy: 0.7856
Epoch 24/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4444 - accuracy: 0.7848
Epoch 25/80
795/804 [============================>.] - ETA: 0s - loss: 0.4443 - accuracy: 0.7847
Epoch 25: saving model to ./training_1/cp-0025.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4443 - accuracy: 0.7846
Epoch 26/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4440 - accuracy: 0.7849
Epoch 27/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4436 - accuracy: 0.7853
Epoch 28/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4433 - accuracy: 0.7850
Epoch 29/80
804/804 [==============================] - 4s 5ms/step - loss: 0.4432 - accuracy: 0.7860
Epoch 30/80
790/804 [============================>.] - ETA: 0s - loss: 0.4429 - accuracy: 0.7858
Epoch 30: saving model to ./training_1/cp-0030.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4430 - accuracy: 0.7854
Epoch 31/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4429 - accuracy: 0.7852
Epoch 32/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7848
Epoch 33/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4424 - accuracy: 0.7857
Epoch 34/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4420 - accuracy: 0.7844
Epoch 35/80
781/804 [============================>.] - ETA: 0s - loss: 0.4428 - accuracy: 0.7846
Epoch 35: saving model to ./training_1/cp-0035.ckpt
804/804 [==============================] - 3s 4ms/step - loss: 0.4419 - accuracy: 0.7855
Epoch 36/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4422 - accuracy: 0.7853
Epoch 37/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4419 - accuracy: 0.7856
Epoch 38/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4417 - accuracy: 0.7866
Epoch 39/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4416 - accuracy: 0.7858
Epoch 40/80
777/804 [===========================>..] - ETA: 0s - loss: 0.4414 - accuracy: 0.7869
Epoch 40: saving model to ./training_1/cp-0040.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4416 - accuracy: 0.7865
Epoch 41/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4417 - accuracy: 0.7860
Epoch 42/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4415 - accuracy: 0.7867
Epoch 43/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4406 - accuracy: 0.7863
Epoch 44/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4418 - accuracy: 0.7851
Epoch 45/80
787/804 [============================>.] - ETA: 0s - loss: 0.4413 - accuracy: 0.7859
Epoch 45: saving model to ./training_1/cp-0045.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4415 - accuracy: 0.7859
Epoch 46/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4409 - accuracy: 0.7865
Epoch 47/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4408 - accuracy: 0.7862
Epoch 48/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4404 - accuracy: 0.7862
Epoch 49/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4412 - accuracy: 0.7864
Epoch 50/80
784/804 [============================>.] - ETA: 0s - loss: 0.4411 - accuracy: 0.7854
Epoch 50: saving model to ./training_1/cp-0050.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4409 - accuracy: 0.7857
Epoch 51/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4408 - accuracy: 0.7867
Epoch 52/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4407 - accuracy: 0.7870
Epoch 53/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4401 - accuracy: 0.7876
Epoch 54/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4405 - accuracy: 0.7868
Epoch 55/80
767/804 [===========================>..] - ETA: 0s - loss: 0.4398 - accuracy: 0.7864
Epoch 55: saving model to ./training_1/cp-0055.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4397 - accuracy: 0.7869
Epoch 56/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4397 - accuracy: 0.7875
Epoch 57/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4394 - accuracy: 0.7877
Epoch 58/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4392 - accuracy: 0.7874
Epoch 59/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4390 - accuracy: 0.7869
Epoch 60/80
787/804 [============================>.] - ETA: 0s - loss: 0.4399 - accuracy: 0.7876
Epoch 60: saving model to ./training_1/cp-0060.ckpt
804/804 [==============================] - 3s 4ms/step - loss: 0.4397 - accuracy: 0.7877
Epoch 61/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4402 - accuracy: 0.7871
Epoch 62/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4393 - accuracy: 0.7870
Epoch 63/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4394 - accuracy: 0.7870
Epoch 64/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4390 - accuracy: 0.7870
Epoch 65/80
787/804 [============================>.] - ETA: 0s - loss: 0.4394 - accuracy: 0.7866
Epoch 65: saving model to ./training_1/cp-0065.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4392 - accuracy: 0.7870
Epoch 66/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4391 - accuracy: 0.7874
Epoch 67/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4393 - accuracy: 0.7876
Epoch 68/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4389 - accuracy: 0.7872
Epoch 69/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4390 - accuracy: 0.7878
Epoch 70/80
782/804 [============================>.] - ETA: 0s - loss: 0.4395 - accuracy: 0.7870
Epoch 70: saving model to ./training_1/cp-0070.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4391 - accuracy: 0.7872
Epoch 71/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4386 - accuracy: 0.7880
Epoch 72/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4388 - accuracy: 0.7876
Epoch 73/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4390 - accuracy: 0.7870
Epoch 74/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4389 - accuracy: 0.7881
Epoch 75/80
788/804 [============================>.] - ETA: 0s - loss: 0.4390 - accuracy: 0.7872
Epoch 75: saving model to ./training_1/cp-0075.ckpt
804/804 [==============================] - 2s 3ms/step - loss: 0.4387 - accuracy: 0.7874
Epoch 76/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4387 - accuracy: 0.7880
Epoch 77/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4384 - accuracy: 0.7878
Epoch 78/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4387 - accuracy: 0.7879
Epoch 79/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4385 - accuracy: 0.7874
Epoch 80/80
778/804 [============================>.] - ETA: 0s - loss: 0.4381 - accuracy: 0.7879
Epoch 80: saving model to ./training_1/cp-0080.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.4388 - accuracy: 0.7874

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4723 - accuracy: 0.7722 - 567ms/epoch - 2ms/step
Loss: 0.4722955822944641, Accuracy: 0.7722448706626892

In [22]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

In [23]:
# Save the weights
nn.save_weights('./checkpoints/my_checkpoint_AlphabetSoupCharity_Optimization')